<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for current_user %>
          <%= link_to current_user.name, current_user %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8 home-button">
      <section>
        <%= link_to "Words", words_path, class: "btn btn-success btn-lg" %>
        <%= link_to "Lesson", categories_path, class: "btn btn-success btn-lg" %>
        <h3>Activities</h3>
        <hr width="750">
      </section>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to E-Learning System</h1><br>
    <%= link_to "Sign up now!", signup_path, class:"btn btn-primary btn-lg" %>
  </div>
<% end %>
