<% provide(:title,"Create new word") %>

<div class="row" >
  <div class="col-md-6 col-md-offset-3">
    <h1>Create new word</h1>
    <p>
      <b>Category title:</b> <%= link_to @category.title, admin_category_path(@category) %>
    </p>
    <%= form_for [:admin, @category, @word] do |f|%>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :content %>
      <%= f.text_field :content, class: "form-control" %>

      <div class="answers">
        <%= f.fields_for :answers do |builder| %>
          <%= render 'answer_fields', f: builder %>
        <% end %>
      </div>

      <p class="answer"><%= create_add_answer_button "Add answer", f, :answers %></p>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $(".answers").each(function(){
      var boxes = $(this).find("input[type='checkbox']:checked");
      if(boxes.length == 0){
        $(this).find("input[type='checkbox']:first").prop("checked", true)
      }
    });
  });
</script>
