<% provide(:title,"Create new word") %>

<div class="row" >
  <div class="col-md-6 col-md-offset-3">
    <h1>Create new word</h1>
    <p>
      <b>Category title:</b> <%= link_to @category.title, admin_category_path(@category) %>
    </p>
    <%= form_for [:admin, @category] do |f|%>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="words">
        <%= f.fields_for :words do |builder| %>
          <%= render 'word_fields', f: builder %>
        <% end %>
      </div>

      <p><%= create_add_word_button "Add Word", f, :words %></p>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $("input.word_content").each(function(){
      if($(this).val() != ""){
        $(this).parent(".word").hide();
      }
    });
  })
</script>
