<% provide(:title,"Lesson") %>
<div class="row">
  <div class="col-md-4">
    <h1>Lesson</h1>
    <p>
      <b>Category title:</b> <%= link_to @category.title, admin_category_path(@category) %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @lesson.title %> &nbsp
      <%= link_to "", edit_admin_category_lesson_path(@category, @lesson), class: "glyphicon glyphicon-edit" %> &nbsp
      <%= link_to "", admin_category_lesson_path(@category, @lesson) , method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
    </p>
    <ul>
      <% @lesson.words.each do |w| %>
        <li><%= w.content %></li>
        <ul>
          <% w.answers.each do |a| %>
            <li>
              <%= a.content %>
              <% if a.correct? %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>
</div>
