<% provide(:title, "Words list") %>
<div class="row">
  <div class="col-md-offset-4">
    <%= form_tag({controller: 'words', action: 'index'}, class: 'wordlist') do %>
      <h3>Categories:</h3>
      <BR>
      <%= select_tag :wordlist, options_for_select(@list_categories), class: 'col-xs-2' %>
      <%= label_tag :learned, class:'radio-inline' do %>
        <%= radio_button_tag :filter, 'learned' %> Learned
      <% end %>
      <%= label_tag :not_learned, class:'radio-inline' do %>
        <%= radio_button_tag :filter,'not learned' %>Not Learned
      <% end %>
      <%= label_tag :all, class:'radio-inline' do %>
        <%= radio_button_tag :filter,'all', true %>All
      <% end %>
      <div class='button'>
        <%= submit_tag 'Filter', class: "btn btn-primary btn-default" %>
        <%= link_to "PDF", '#', class: "btn btn-primary btn-default" %>
      </div>
    <% end %>
  </div>
  <div id="list">
    <%= render 'word' %>
  </div>
</div>
