<% provide(:title, "Words list") %>
<div class="row">
  <div class="col-md-offset-3">
    <%= form_tag(words_path, method: :get, class: 'wordlist') do %>
      <h3>Categories:</h3>
      <%= select_tag "filter[category_id]", options_for_select(@categories.collect{|u| [u.title, u.id]}.unshift ['All', 0]), class: 'col-xs-2' %>

      <% ["all", "learned", "not_learned"].each do |item| %>
        <%= label_tag item, class: 'radio-inline' do %>
          <%= radio_button_tag "filter[state]", item %> <%= item.titleize %>
        <% end %>
      <% end %>

      <div class='button'>
        <%= submit_tag 'Filter', id: "filter",class: "btn btn-primary btn-default" %>
        <%= link_to "PDF", words_path(format: 'pdf'), class: "btn btn-primary btn-default" %>
      </div>
    <% end %>
  </div>
  <div id="list">
    <%= render 'word' %>
  </div>
</div>

<script>
$(function(){
  $('#filter').click(function(){
    var action = $('.wordlist').attr('action');
    var formData = $('.wordlist').serialize();
    $.get(action, formData, null, 'script');
    history.replaceState(null, "Words", action + "?" + formData);
    return false;
  });

  $(window).bind("popstate", function () {
    $.getScript(location.href);
  });
})
</script>
