<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |cat| %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= cat.title %></td>
        <td><%= cat.content %></td>
        <td>
          <%= link_to "", admin_category_path(cat), class: "glyphicon glyphicon-eye-open" %> &nbsp
          <%= link_to "", edit_admin_category_path(cat), class: "glyphicon glyphicon-edit" %> &nbsp
          <%= link_to "", admin_category_path(cat), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
