<% provide(:title,"Category") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Category</h1>
      <p>
        <strong>Title: &nbsp</strong>
        <%= @category.title %>
        <%= link_to "", edit_admin_category_path(@category), class: "glyphicon glyphicon-edit" %> &nbsp
        <%= link_to "", admin_category_path(@category) , method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
      </p>
      <p>
        <strong>Content:</strong><br>
        <%= @category.content %>
      </p>

      <%= link_to "Add new word", new_admin_category_word_path(@category), class:"btn btn-success" %>
    </div>
  </div><br>
  <div class="row">
    <% if @category.words.any? %>

      <%= render 'admin/words/word_table', category: @category, words: @words %>
      <%= will_paginate @words %>
    <% end %>
  </div>
</div>
