<% provide(:title,"Category") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Category</h1>
      <p>
        <strong>Name: &nbsp</strong>
        <%= @category.title %>
        <%= link_to "", edit_category_path(@category), class: "glyphicon glyphicon-edit" %> &nbsp
        <%= link_to "", @category , method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
      </p>
      <p>
        <strong>Content:</strong><br>
        <%= @category.content %>
      </p>

      <%= link_to "Add lesson", new_category_lesson_path(@category), class:"btn btn-success" %>
    </div>
  </div><br>
  <div class="row">
    <% if @category.lessons.any? %>
      <%= render 'lessons/lesson_table', category: @category %>
    <% end %>
  </div>
</div>
